<div class="PlayerIndexBack">
  <div class="playersList">
<h1>All Players</h1>

  <ol>
  <%@players.each do |player| %>
  <li class="welcome"><%=link_to player.full_name, player, {:class => "welcome"}%></li><br>
  <%end %>
  </ol>
  </div>

  <br>
  <br>
  <%if session[:player_id]%>
  <%=button_to 'Logout', logout_path, {:class => "btn btn-danger", :id => "fixx" }%>
  <% end %>
<br>
<br>
<br>
<br>

<div id="fix2">
  <% if @session_user %>
    <li class="welcome">You are logged in as <%= @session_user.username%></li>
    <% else %>
    <h3 class="welcome">Please Login To Follow/Unfollow Players</h3>
    <%= link_to '<button class="btn btn-warning" type="button">LOGIN</button>'.html_safe, login_path %>

    <% end %>
    
</div>
</div>
